# Load Data

load data from csv file. Dataset is from [Kaggle](https://www.kaggle.com/daviddraper1518/predicting-student-grades)

In [1]:
import pandas as pd

file_path = 'students_dataset.csv'

students_data_frame = pd.read_csv(file_path)

students_data_frame.describe()

,PPID,PP,EAL,SEN,Att8Est,Att8Act,Att8Diff,EngEst,EngAct,EngDiff,MathsEst,MathsAct,MathsDiff,EbaccEst,EbaccAct,EbaccDiff
count,1037.000000,1034.000000,1037.000000,1033.000000,987.000000,1036.000000,987.000000,987.000000,1036.000000,987.000000,987.000000,1036.000000,987.000000,987.000000,1036.000000,987.000000
mean,500.378978,0.345261,0.103182,0.240077,4.261601,3.661100,-0.631682,4.620061,4.079344,-0.550061,4.103749,3.700772,-0.445937,3.774367,2.669112,-1.120324
std,294.711937,0.475683,0.304344,0.427337,1.274717,1.664596,1.323029,1.160193,1.823130,1.591003,1.407433,1.920834,1.465290,1.482994,1.940962,1.611944
min,1.000000,0.000000,0.000000,0.000000,1.500000,0.000000,-6.810000,1.900000,0.000000,-6.940000,1.100000,0.000000,-7.010000,0.700000,0.000000,-6.650000
25%,259.000000,0.000000,0.000000,0.000000,3.400000,2.500000,-1.455000,3.900000,3.000000,-1.520000,3.100000,3.000000,-1.280000,2.800000,1.000000,-2.150000
50%,498.000000,0.000000,0.000000,0.000000,4.100000,3.650000,-0.620000,4.600000,4.000000,-0.570000,4.100000,4.000000,-0.530000,3.700000,2.300000,-1.160000
75%,747.000000,1.000000,0.000000,0.000000,5.100000,4.700000,0.210000,5.400000,5.500000,0.470000,5.000000,5.000000,0.420000,4.800000,4.000000,-0.140000
max,1037.000000,1.000000,1.000000,1.000000,7.700000,8.500000,4.040000,7.600000,9.000000,4.670000,7.900000,9.000000,4.800000,7.900000,9.000000,4.680000

# Selecting Data for Modeling

In [2]:
students_data_frame = students_data_frame.dropna()

### X Axis
- HML = Ability based on previous results ages 10/11. H= Higher, M = Middle, L = Lower
- Re = Reading grade at aged 10
- Wr = Writing grade at aged 10
- Ma = Maths grade at aged 10

### Y Axis
 - Att8Act = Actual Grades (this is the grade to be predicted)

In [3]:
Y = students_data_frame.Att8Act
students_features = [ 'HML', 'Re', 'Wr', 'Ma']
X = students_data_frame[students_features]
X.describe()

        HML   Re   Wr   Ma
count   910  910  910  910
unique    3   11   16   15
top       M   5C    4   4B
freq    504  186  280  184

In [4]:
X.head()
print((X[["HML"]].count() * 0.20))

HML    182.0
dtype: float64

# Choosing & Training the Model
We will be using Decision tree for this data set

In [5]:
from sklearn.tree import  DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
students_decision_tree_model = DecisionTreeRegressor(random_state=1)

#Fitting Model
students_decision_tree_model.fit(X, Y)